/* CONFIGURAÇÕES PADRÃO DA PÁGINA */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

html {scroll-behavior: smooth;}

:root {
    --color-main: #e90606;
    --color-default-text: #fff;
    --color-footer: #000;
    --color-footer-copyright: #161616;
}

/* CORPO DA PÁGINA */
.body-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TOPO */
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    width: 100%;
}

.top-content {
    display: flex;
    max-width: 80vw;
    max-height: 25vh;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.logo-top {
    width: 256px;
    height: 126px;
}

.logo-top img {
    height: 100%;
    width: 100%;
}

.banner-top {
    width: 800px;
    height: 126px;
    margin-left: 4rem;
    box-shadow: 1px 1px 5px black;
}

.banner-top img {
    width: 100%;
    height: 100%;
}

/* MENU HAMBURGUER */

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

/* CABEÇALHO */

.header {
    display: flex;
    min-height: 3rem;
    background-image: linear-gradient(to right, rgb(132, 2, 8), rgb(228, 4, 14));
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 6px black;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin: 0.5rem;
    border-radius: 5%;
}

.nav-item > a {
    color: #ffff;
    font-weight: 535;
    letter-spacing: 1px;
    padding: 0.1rem 0.7rem;
    transition: 0s;
}

.nav-item>a:hover {
    padding: 0.4px 0.7rem;
    border-bottom: solid rgba(255, 255, 255, 0.8);
}

.search-icon {
    padding: 0.3rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.search-icon:hover {
    background-color: rgb(255, 255, 255, 0.4);
}

/* RODAPÉ */

.footer {
    letter-spacing: 1px;
    width: 100%;
    color: var(--color-default-text);
    justify-content: space-between;
    margin-top: 1.5rem;
} 

.footer-list li:first-child {
    margin-bottom: 1rem;
}

#footer-content {
    background-color: var(--color-footer);
    display: grid;
    grid-template-columns: repeat(3,3fr);
    padding: 3rem 3.5rem;
    gap: 10rem;
}

#footer-contacts {
    margin-bottom: 0.7rem;
}

#footer-social-media {
    display: flex;
    gap: 1rem;
    margin-top: 0.1rem;
}

#footer-social-media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-default-text);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer-social-media .footer-link i {
    font-size: 1.25rem;
}

#footer-social-media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#email {
    background-color: #868484;
}

#footer-copyright {
    background-color: var(--color-footer-copyright);
    display: flex;
    justify-content: center;
}

/* BANNER's */

.container-banner {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    border: solid;
}

.banner-content {
    display: flex;
    max-width: 1200px;
    width: 70%;
    border: solid;
}

.banner-left {
    width: 463px;
    height: 90px;
    margin-right: 0.3rem;
    border: 1px solid;
}

.banner-left img {
    width: 100%;
    height: 100%;
}

.banner-right {
    width: 463px;
    height: 90px;
    margin-left: 0.3rem;
    border: 1px solid;
}

.banner-right img {
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    height: 5rem;
    border: 1px solid;
}

.banner img {
    width: 100%;
    height: 100%;
}

/* TITULOS DAS SEÇÕES */

.container-title-section {
    display: flex;
    width: 100%;
    max-width: 1120px;
    margin: 1rem 0rem;
    padding: 0.5rem 1rem;
}

.title-section {
    display: flex;
    align-items: center;
}

.title-section h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.circle {
    background-color: #e90606;
    padding: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.container-rows {
    width: 100%;
}

.row {
    padding: 1px;
    margin: 0px 10px 2px 10px;
    background-color: #BFBFBF;
}

/* DIV DATA */

.data {
    display: flex;
    align-items: center;
}

.relogio {
    width: 13px;
    height: 12px;
    margin-right: 2px;
}


/* SEÇÃO DE LISTA EM GRADE */

.container-grid-list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    gap: 10px;
}

.grid-list-item {
    width: 350px;
}

.img-grid-list {
    height: 250px;
    width: 100%;
    box-shadow: 1px 1px 5px black
}

.txt-grid-list span {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-main);
    font-weight: 750;
}

.txt-grid-list h3 {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    padding: 0.4rem 0 1rem 0;
}

/* SEÇÃO MINI LIST */
.mini-list-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mini-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    gap: 15px 10px;
}

.mini-item-list {
    display: flex;
    width: 350px;
    height: 100px;
}

.img-mini-list {
    height: 100%;
    width: 100px;
}

.txt-mini-li {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 1rem;
}

.txt-mini-li span {
    color: var(--color-main);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.txt-mini-li h3 {
    font-size: 15px;
    font-weight: 650;
}

.txt-mini-li .data {
    position: absolute;
    bottom: 0;
}


/* SEÇÃO EM DESTAQUE */
.container-highlight {
    width: 100%;
    display: flex;
    justify-content: center;
}

.highlight-content {
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.highlight {
    height: 410px;
    width: 710px;
    margin-right: 10px;
    border: solid 2px #252424;
    box-shadow: 1px 1px 8px black;
}

.highlight-list {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.side-highlight {
    height: 200px;
    width: 350px;
    border: solid 2px #252424;
    box-shadow: 1px 1px 7px black;
}

.img-highlight {
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    transition: 0.4s;
}

.img-highlight:hover {
    filter: brightness(90%);
}

.img-side-highlight {
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    transition: 0.4s;
}

.img-side-highlight:hover {
    filter: brightness(90%);
}

.txt-highlight {
    position: relative;
    color: #fff;
    width: 90%;
    margin-top: -100px;
    margin-left: 15px;
}

.txt-highlight span {
    font-size: 11px;
    border-radius: 10%;
    background-color: var(--color-main);
    padding: 2px;
    font-weight: 700;
}

.txt-highlight h3 {
    font-size: 12px;
    font-weight: 800;
}

.txt-highlight .data {
    position: relative;
    margin-top: 10px;
}

/* SEÇÕES DE LISTA */
.container-list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.notice-list {
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.item-list {
    height: 250px;
    width: 350px;
    border: solid 2px #252424;
    box-shadow: 1px 1px 6px black;
    position: relative;
}

.img-notice {
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    transition: 0.4s;
}

.img-notice:hover {
    filter: brightness(90%);
}

.txt-notice {
    position: relative;
    color: #fff;
    width: 90%;
    margin-top: -140px;
    margin-left: 15px;
}

.txt-notice span {
    font-size: 11px;
    border-radius: 10%;
    background-color: var(--color-main);
    padding: 2px;
    font-weight: 700;
}

.txt-notice h3 {
    font-size: 14px;
    font-weight: 800;
}

.txt-notice .data {
    position: relative;
    margin-top: 10px;
}