* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a { color: inherit; } 

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:root {
    --color-default-text: #fff;
    --color-footer: #000;
    --color-footer-copyright: #161616;
}

/* TOPO */

.top {
    height: 150px;
    width: 80%;
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.logo-top {
    width: 240px;
    height: 120px;
    margin-right: 4rem;
}

.logo-top img {
    height: 100%;
    width: 100%;
}

.banner-top {
    width: 650px;
    height: 90px;
    background-color: #e90606;
}

/* CABEÇALHO */

.header {
    display: flex;
    height: 50px;
    background-image: linear-gradient(to right, rgb(132, 2, 8), rgb(228, 4, 14));
    justify-content: center;
    align-items: center;
}

.nav-bar {
    align-items: center;
}


.nav-list {
    display: flex;
    list-style: none;
    margin-right: 3rem;
}

.nav-item {
    font-size: 13px;
    margin: 15px;
    padding-bottom: 1px;
    transition: 0.1s;
}

.nav-item:hover {
    border-bottom: 3px solid #fff;
}

.nav-item>a {
    color: #ffff;
    font-weight: 535;
    padding: 1px;
    justify-content: center;
    transition: 0.3s;
}

.search-icon {
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.search-icon:hover {
    background-color: rgb(255, 255, 255, 0.4);
}

/* RODAPÉ */

.footer {
    letter-spacing: 1px;
    width: 100%;
    color: var(--color-default-text);
    justify-content: space-between;
} 

.footer-list li:first-child {
    margin-bottom: 1rem;
}

#footer-content {
    background-color: var(--color-footer);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 3rem 3.5rem;
    gap: 10rem;
}

#footer-contacts {
    margin-bottom: 0.7rem;
}

#footer-social-media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-social-media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-default-text);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer-social-media .footer-link i {
    font-size: 1.25rem;
}

#footer-social-media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#email {
    background-color: #868484;
}

#footer-copyright {
    background-color: var(--color-footer-copyright);
    display: flex;
    justify-content: center;
}

/* BANNER's */

.banner-container {
    height: 150px;
    width: 80%;
    margin-left: 11vw;
    display: flex;
    align-items: center;
}

.banner-right {
    width: 460px;
    height: 90px;
    margin-left: 1rem;
    background-color: #e90606;
}

.banner-left {
    width: 460px;
    height: 90px;
    margin-right: 1rem;
    background-color: #e90606;
}

.banner {
    background-color: #e90606;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 13vw;
    margin-right: 16vw;
    height: 80px;
    width: 50vw;
}

/* TITULOS DAS SEÇÕES */

.container-title-section {
    display: flex;
}

.title-section {
    display: flex;
    align-items: center;
}

.title-section h1 {
    font-size: 20px;
}

.title-section>a {
    color: #000;
}

.title-section a span {
    font-weight: 700;
}

.circle {
    background-color: #e90606;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.container-rows {
    width: 50vw;
}

.row {
    padding: 1px;
    margin: 0px 10px 2px 10px;
    width: 100%;
    background-color: #BFBFBF;
}

/* SEÇÃO HOME */

.container-destaques {
    width: 60vw;
    flex-wrap: wrap;
}

.destaques {
    height: 100%;
    width: 100%;
    display: flex;
}

.destaque-principal {
    width: 50vw;
    margin-right: 10px;
    border: 2px solid black;
}

.direita-destaque {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destaque-secundario {
    height: 25vh;
    margin-bottom: 1rem;
    border: 2px solid black;
}

.destaque-terciario {
    height: 30vh;
    border: 2px solid black;
}

/* SEÇÃO POLITICA */

.politica-container {
    width: 60vw;
    align-items: center;
}

.lista-politica {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.card-politica {
    width: 18rem;
    height: 22rem;
    padding: 1px;
    margin: 2px;
}

.data {
    display: flex;
    align-items: center;
}

.relogio {
    width: 13px;
    height: 12px;
    margin-right: 2px;
}

.img-card-politica {
    width: 100%;
    height: 16rem;
}

.card-politica>span {
    color: #e90606;
    font-weight: 500;
}

.card-politica>h3 {
    width: 100%;
    padding: 3px 0px;
}

.data>h5 {
    font-weight: 100;
}

/* SEÇÃO CIDADES */

.container-cidades {
    width: 80vw;
    align-items: center;
}

.lista-cidades {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.lista-cidades li {
    display: flex;
    height: 110px;
}

.img-cidades {
    width: 140px;
    height: 100%;
    margin-right: 1rem;
}

.cidade-text {
    width: 200px;
    position: relative;
}

.cidade-text span {
    font-weight: 600;
    font-size: 15px;
    color: #e90606;
}

.lista-cidades h3 {
    font-size: 12px;
    margin-bottom: 8px;
    width: 100%;
}

.cidade-text .data {
    position: absolute;
    bottom: 0;
}

/* SEÇÃO PARAÍBA */

.container-paraiba {
    width: 80vw;
    display: flex;
}

.content-paraiba {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.banner-grande {
    width: 300px;
    height: 460px;
    margin-right: 4rem;
    background-color: #e90606;
}

.container-title-section-paraiba {
    display: flex;
    width: 100%;
}

.title-section-paraiba {
    font-size: 15px;
}

.container-rows-section-paraiba {
    width: 100%;
}

.container-noticias-paraiba {
    height: 100%;
    width: 100%;
    display: flex;
}

.destaque-paraiba {
    width: 350px;
    height: 400px;
}

.destaque-img {
    width: 100%;
    height: 100%;
}

.destaques-secundarios-paraiba {
    width: 400px;
    height: 400px;
    margin-left: 1rem;
}

.lista-destaques-secundario-paraiba {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.lista-destaques-secundario-paraiba li {
    display: flex;
    flex-direction: row;
}

.img-destaque-secundario {
    width: 30%;
    height: 100%;
    margin-right: 1rem;
}

.txt-destaque-secundario-paraiba {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.txt-destaque-secundario-paraiba span {
    color: #e90606;
    font-weight: 400;
    font-size: 12px;
}

.txt-destaque-secundario-paraiba h3 {
    font-size: 15px;
}

.txt-destaque-secundario-paraiba .data {
    position: absolute;
    bottom: 0;
}

/* SESSÃO BRASIL */

.container-brasil {
    width: 60vw;
}

.lista-brasil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
}

.item-list-brasil {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
}

.img-card-brasil {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.item-list-brasil span {
    font-size: 15px;
    color: #e90606;
    font-weight: 500;
}

.item-list-brasil h3 {
    font-size: 18px;
    width: 100%;
    margin-bottom: 7px;
}

/* SESSÃO POLICIAIS */

.container-policiais {
    align-items: center;
}

.lista-policiais {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.item-list-policiais {
    display: flex;
    height: 110px;
}

.img-policiais {
    width: 140px;
    height: 100%;
    margin-right: 1rem;
}

.policiais-text {
    width: 200px;
    position: relative;
}

.policiais-text span {
    font-weight: 600;
    font-size: 15px;
    color: #e90606;
}

.policiais-text h3 {
    font-size: 12px;
    margin-bottom: 8px;
    width: 100%;
}

.policiais-text .data {
    position: absolute;
    bottom: 0;
}

/* SEÇÃO ESPORTE */

.container-esporte {
    align-items: center;
}

.lista-esporte {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.item-list-esporte {
    height: 250px;
    width: 350px;
    position: relative;
}

.img-esporte {
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    transition: 0.4s;
}

.img-esporte:hover {
    filter: brightness(90%);
}

.txt-esporte {
    position: relative;
    color: #fff;
    width: 90%;
    margin-top: -90px;
    margin-left: 15px;
}

.txt-esporte span {
    font-size: 11px;
    border-radius: 10%;
    background-color: #e90606;
    padding: 2px;
}

.txt-esporte h3 {
    font-size: 12px;
    font-weight: 800;
}

.txt-esporte .data {
    position: relative;
    margin-top: 10px;
}

/* SEÇÃO CULTURA */

.container-cultura {
    align-items: center;
    margin-bottom: 2rem;
}

.lista-cultura {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.item-list-cultura {
    height: 250px;
    width: 350px;
    position: relative;
}

.img-cultura {
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    transition: 0.4s;
}

.img-cultura:hover {
    filter: brightness(90%);
}

.txt-cultura {
    position: relative;
    color: #fff;
    width: 90%;
    margin-top: -100px;
    margin-left: 15px;
}

.txt-cultura span {
    font-size: 11px;
    border-radius: 10%;
    background-color: #e90606;
    padding: 2px;
}

.txt-cultura h3 {
    font-size: 12px;
    font-weight: 800;
}

.txt-cultura .data {
    position: relative;
    margin-top: 10px;
}

/* SEÇÃO FOFOCA */

.container-fofocas {
    width: 80vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.lista-fofocas {
    display: flex;
    width: 100%;
    gap: 10px;
}

.item-list-fofocas {
    position: relative;
}

.item-list-fofocas:first-child {
    width: 720px;
    height: 394px;
}

.item-list-fofocas:last-child {
    height: 100%;
}


.img-principal-fofocas {
    height: 100%;
    width: 100%;
}

.img-li-fofoca {
    height: 100%;
    width: 100%;
}

.txt-img-principal-fofocas {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 100%;
}

.txt-img-principal-fofocas span {
    font-size: 11px;
    border-radius: 10%;
    background-color: #e90606;
    padding: 2px;
}

.txt-img-principal-fofocas h3 {
    font-size: 16px;
}

.txt-img-principal-fofocas .data {
    position: relative;
    margin-top: 10px;
}

.div-secundaria-fofocas {
    position: relative;
    margin-bottom: 10px;
    width: 340px;
    height: 195px;
}

.txt-fofocas-secundaria {
    position: relative;
    left: 20px;
    top: -80px;
    width: 100%;
    font-size: 12px;
    color: #fff;
}

.txt-fofocas-secundaria span {
    font-size: 11px;
    border-radius: 10%;
    background-color: #e90606;
    padding: 2px;
}

.txt-fofocas-secundaria .data {
    position: relative;
    margin-top: 10px;
}

.div-terciaria-fofocas {
    width: 340px;
    height: 195px;
}

/* SEÇÃO MEMES */
.container-memes {
    align-items: center;
    margin-bottom: 2rem;
}

.lista-memes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.item-list-memes {
    height: 250px;
    width: 350px;
    position: relative;
}

.img-memes {
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    transition: 0.4s;
}

.img-memes:hover {
    filter: brightness(90%);
}

.txt-memes {
    position: relative;
    color: #fff;
    width: 90%;
    margin-top: -100px;
    margin-left: 15px;
}

.txt-memes span {
    font-size: 11px;
    border-radius: 10%;
    background-color: #e90606;
    padding: 2px;
}

.txt-memes h3 {
    font-size: 12px;
    font-weight: 800;
}

.txt-memes .data {
    position: relative;
    margin-top: 10px;
}

/* SEÇÃO GAMERS */
.container-gamers {
    align-items: center;
    margin-bottom: 2rem;
}

.lista-gamers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.item-list-gamers {
    height: 250px;
    width: 350px;
    position: relative;
}

.img-gamers {
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    transition: 0.4s;
}

.img-cultura:hover {
    filter: brightness(90%);
}

.txt-gamers {
    position: relative;
    color: #fff;
    width: 90%;
    margin-top: -100px;
    margin-left: 15px;
}

.txt-gamers span {
    font-size: 11px;
    border-radius: 10%;
    background-color: #e90606;
    padding: 2px;
}

.txt-gamers h3 {
    font-size: 12px;
    font-weight: 800;
}

.txt-gamers .data {
    position: relative;
    margin-top: 10px;
}